.menu-item {
  margin: 15px;
  padding: 5px;
  border: 1px solid black;
}

.category-description {
	font-style: italic;
}

.item-description {
  width: 90%;
  padding: 1% 5%;
}

#chinese-menu-table {
  border: 2px solid darkred;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:nth-child(1) {
  border-bottom: 2px solid black;
}

td,
th {
  padding: 4px;
}
